.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 30px;
}

.formSearch{
  margin-top: 20px;
}

.inputApp{

    padding: 8px;
    font-size: 16px;
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inputApp:focus
{
  outline: none;
  border-color: #007bff;
}
.submitBtn {
  margin: 5px;
  padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.submitBtn:hover {
  background-color: #2980b9;
}

.recipiesApp{
  margin-top: 25px;
  display: grid;
  grid-template-columns: 230px 230px;
  /* align-items: baseline; */
  align-items: center; 
  justify-content: center; 
}
@media (max-width: 768px) {
  .recipiesApp {
    grid-template-columns: 1fr; 
    /* justify-content: center;     */
  }
 
}
.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

.appName{
  font-family: cursive;
}

.appName span{
  color: rgba(252, 0, 0, 0.829);
}

.appName i{
  color: rgb(118, 226, 118);
}

.App p{
  text-align: justify;
    line-height: 1.6;
    margin-bottom: 0;
}
